/*
メニューを開閉するCSS
*/

.gn{
    background: red;
    width:300px;
    height: auto;
    margin: 50px auto;
    padding: 30px;
}
label{
    color:green;
    background: blue;
    padding: 5px;
    display: block;
    margin: 0px;
    border:2px solid white;
}
label:hover{
    background: gold;
}
input[type="checkbox"].on-off{
    display: none;
}
.gn ul{
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -ms-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition: all 0.3s;
    padding: 0;
    margin: 0;
    list-style: none;
}
.gn li{
    padding: 3px;
}
input[type="checkbox"].on-off + ul{
    height: 0px;
    overflow: hidden;
}
input[type="checkbox"].on-off:checked +ul{
    height: auto;
}
